@media (max-width: 1200px)
    .menu
        &_item
            padding-right: 20px
        &_link
            font-size: 13px
    .promo
        &_header
            font-size: 50px
    .start_wrapper
        align-items: flex-start
        min-height: 230px
    .text_start
        width: 300px
    .title
            font-size: 32px
    .mobile
        &_item
            &_subtitle
                font-size: 18px



